In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

                                  Severity  ...  Accident_ID
0                Minor_Damage_And_Injuries  ...         7570
1                Minor_Damage_And_Injuries  ...        12128
2        Significant_Damage_And_Fatalities  ...         2181
3  Significant_Damage_And_Serious_Injuries  ...         5946
4        Significant_Damage_And_Fatalities  ...         9054

[5 rows x 12 columns]

In [4]:
y = df['Severity']
x = df.drop('Severity', axis=1)
x.head()

   Safety_Score  Days_Since_Inspection  ...  Adverse_Weather_Metric  Accident_ID
0     49.223744                     14  ...                0.424352         7570
1     62.465753                     10  ...                0.352350        12128
2     63.059361                     13  ...                0.003364         2181
3     48.082192                     11  ...                0.211728         5946
4     26.484018                     13  ...                0.176883         9054

[5 rows x 11 columns]

In [5]:
y.head()

0                  Minor_Damage_And_Injuries
1                  Minor_Damage_And_Injuries
2          Significant_Damage_And_Fatalities
3    Significant_Damage_And_Serious_Injuries
4          Significant_Damage_And_Fatalities
Name: Severity, dtype: object

In [6]:
x.describe()

       Safety_Score  ...   Accident_ID
count  10000.000000  ...  10000.000000
mean      41.876406  ...   6266.554200
std       16.138072  ...   3610.170288
min        0.000000  ...      2.000000
25%       30.593607  ...   3139.750000
50%       41.278539  ...   6280.500000
75%       52.511416  ...   9391.500000
max      100.000000  ...  12500.000000

[8 rows x 11 columns]

In [7]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
Safety_Score               10000 non-null float64
Days_Since_Inspection      10000 non-null int64
Total_Safety_Complaints    10000 non-null int64
Control_Metric             10000 non-null float64
Turbulence_In_gforces      10000 non-null float64
Cabin_Temperature          10000 non-null float64
Accident_Type_Code         10000 non-null int64
Max_Elevation              10000 non-null float64
Violations                 10000 non-null int64
Adverse_Weather_Metric     10000 non-null float64
Accident_ID                10000 non-null int64
dtypes: float64(6), int64(5)
memory usage: 859.5 KB

In [9]:
y.unique()

array(['Minor_Damage_And_Injuries', 'Significant_Damage_And_Fatalities',
       'Significant_Damage_And_Serious_Injuries',
       'Highly_Fatal_And_Damaging'], dtype=object)

In [10]:
from sklearn.preprocessing import Normalizer

nor = Normalizer()
x_norm = nor.fit_transform(x)
type(x_norm)

numpy.ndarray

In [11]:
x_norm[1, :]

array([2.17558141e-03, 3.48283867e-04, 9.40366441e-04, 2.51767645e-03,
       1.47651008e-05, 2.94439181e-03, 6.96567734e-05, 9.06398700e-01,
       6.96567734e-05, 1.22717811e-05, 4.22398674e-01])