<a href="https://colab.research.google.com/github/shobhitsundriyal/Revisit_ML/blob/master/media_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget "https://storage.googleapis.com/kagglesdsdata/datasets%2F134983%2F320651%2Fmediacompany.csv?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594228428&Signature=iIn8PdUW0KjdKT3jLgm6WrEqo5UI2g3F8SHKPX9X2n%2FXWKDOIQAtcJ6Ww2BO3ladE9g6SmiLgGYvuKXZQB8hEuExkxQQCEl%2FhFCT7139d1CjBWBBFjb6Hf%2Fs2MlY6LepyQKiY%2BBdagPfst5v8LetSFhGLFmUmYOK5O8GnftgwtUNuMmij9DrPLMotvPrddiNRvNy3TqFAIvF21l2oznjxUVvH5%2BAGbs4%2Bht7LnijapWmlgJvIpuT0pi117puZyejr%2FIVD9UXTbw0qeDYp9uxDJZELzR5%2Bix5PtHPIApNz%2FdjSZOxe6%2BhYGaQm%2FLvczgz%2BIYFzF7UJRhJ94%2F7oqg%2BdQ%3D%3D"

The name is too long, 501 chars total.
Trying to shorten...
New name is datasets%2F134983%2F320651%2Fmediacompany.csv?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594228428&Signature=iIn8PdUW0KjdKT3jLgm6WrEqo5UI2g3F8SHKPX9X2n%2FXWKDOIQAtcJ6Ww2BO3ladE9g6SmiLgGYvuKXZQB8hEuExkxQ.
--2020-07-05 17:15:01--  https://storage.googleapis.com/kagglesdsdata/datasets%2F134983%2F320651%2Fmediacompany.csv?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594228428&Signature=iIn8PdUW0KjdKT3jLgm6WrEqo5UI2g3F8SHKPX9X2n%2FXWKDOIQAtcJ6Ww2BO3ladE9g6SmiLgGYvuKXZQB8hEuExkxQQCEl%2FhFCT7139d1CjBWBBFjb6Hf%2Fs2MlY6LepyQKiY%2BBdagPfst5v8LetSFhGLFmUmYOK5O8GnftgwtUNuMmij9DrPLMotvPrddiNRvNy3TqFAIvF21l2oznjxUVvH5%2BAGbs4%2Bht7LnijapWmlgJvIpuT0pi117puZyejr%2FIVD9UXTbw0qeDYp9uxDJZELzR5%2Bix5PtHPIApNz%2FdjSZOxe6%2BhYGaQm%2FLvczgz%2BIYFzF7UJRhJ94%2F7oqg%2BdQ%3D%3D
Resolving storage.googleapis.com (storage.googleapis.com)... 64.233.189.128, 108.177.125.128, 74.125.203.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|64.233.189.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3981 (3.9K) [application/vnd.ms-excel]
Saving to: ‘datasets%2F134983%2F320651%2Fmediacompany.csv?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594228428&Signature=iIn8PdUW0KjdKT3jLgm6WrEqo5UI2g3F8SHKPX9X2n%2FXWKDOIQAtcJ6Ww2BO3ladE9g6SmiLgGYvuKXZQB8hEuExkxQ’

datasets%2F134983%2 100%[===================>]   3.89K  --.-KB/s    in 0s

2020-07-05 17:15:02 (65.5 MB/s) - ‘datasets%2F134983%2F320651%2Fmediacompany.csv?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1594228428&Signature=iIn8PdUW0KjdKT3jLgm6WrEqo5UI2g3F8SHKPX9X2n%2FXWKDOIQAtcJ6Ww2BO3ladE9g6SmiLgGYvuKXZQB8hEuExkxQ’ saved [3981/3981]

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df = pd.read_csv('data.csv')
df.drop('Unnamed: 7', axis=1, inplace=True)
df.head()

       Date  Views_show  ...  Cricket_match_india  Character_A
0  3/1/2017      183738  ...                    0            0
1  3/2/2017      193763  ...                    0            0
2  3/3/2017      210479  ...                    0            0
3  3/4/2017      240061  ...                    1            0
4  3/5/2017      446314  ...                    0            0

[5 rows x 7 columns]